// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-900;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-900;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.35rem;
  padding-top: 1rem;
}

.list-social-icons {
  a {
    color: $gray-700;
    &:hover {
      color: $primary;
    }
    .fa-lg {
      font-size: 1.75rem;
    }
  }
}

.list-icons {
  font-size: 3rem;
  // Uses lower rule, for grayscale toggle
  //.list-inline-item i {
  //  &:hover {
  //    color: $primary;
  //  }
  //}
  .list-inline-item p {
    font-size: 0.75rem;
  }
}

// Add more spacing between list elements
li:not(:last-child) {
    margin-bottom: 3px;
}

// Grayscale company images, provide spacing, and limit size
//TODO: Better implementation of sizing, (add links/tooltips onClick?)
#companyImages {
  img {
      margin: 1rem;
      width: 5rem;
      height: 5rem;
      filter: grayscale(100%);
      &:hover {
        filter: none;
      }
  }
}

#collapseKey {
  ul {
    padding-top: 1rem;
    li {
      font-size: 0.9rem;
    }
  }
}

.list-inline-item {
    i {
      filter: grayscale(100%);
      &:hover {
        filter: none;
      }
    }
}

// Add custom bordered sections
.bordered {
  border: 3px solid $dark;
  p {
    margin: 1rem;
  }
}

.card-header {
  h5 {
    a {
      color: $gray-900;
    }
  }
}
